:root {
  --dark-gray: #282c34;
  --medium-gray: #807882;
  --light-gray: #b8b0b8;
  --medium-blue: #7870a2;
  --dark-blue: #586088;
  --medium-red: #a27070;
}

body {
  background-color: var(--dark-gray);
  color: var(--light-gray);
  height: 100vh;
}

a {
  color: var(--medium-blue);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: var(--dark-blue);
}

ul {
  display: flex;
}

li {
  list-style: none;
}

button,
select {
  font-size: inherit;
  font-family: inherit;
  border: none;
  border-radius: calc(2px + 1vmin);
  margin: 1px;
  padding: calc(2px + 1vmin);
  cursor: pointer;
}

.textButton {
  border-radius: 0;
  background: transparent;
  color: var(--light-gray);
}

.selectedTextButton {
  cursor: default;
  border-bottom: medium var(--light-gray) dotted;
}

.floatRight {
  float: right;
}

.App {
  font-size: calc(5px + 1vmin);
  padding: 10px;
  margin: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100vh;
}

.landing {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 1.5vmin);
}

.navigation {
  font-size: calc(10px + 0.8vmin);
  align-items: baseline;
  flex-wrap: wrap;
  gap: 5px;
  margin: 0;
}

.pushRight {
  margin-left: auto;
}

footer {
  font-size: calc(15px + 0.5vmin);
}

.generatorContent {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.configDropZone {
  display: flex;
}

.dropZoneDragged {
  background: var(--dark-blue);
}

.dropZoneError {
  background: var(--medium-red);
}

.fileInput {
  display: none;
}

.generatorLine {
  font-size: calc(10px + 2vmin);
}

.reroll {
  background: transparent;
  border: none;
  padding: 1px;
}

randomItem {
  background-color: var(--light-gray);
  color: var(--dark-gray);
  cursor: pointer;
}