:root {
  --dark-gray: #282c34;
  --medium-gray: #807882;
  --light-gray: #b8bab8;
  --medium-blue: #8070a2;
  --dark-blue: #585888;
  --medium-red: #a27070;
}

body {
  background-color: var(--dark-gray);
  color: var(--light-gray);
}

a {
  color: var(--medium-blue);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: var(--dark-blue);
}

button {
  font-size: inherit;
  font-family: inherit;
  border: none;
  border-radius: calc(2px + 1vmin);
  margin: 1px;
  padding: calc(2px + 1vmin);
  cursor: pointer;
}

header {
  display: block;
  position: absolute;
  top: 0px;
  font-size: calc(10px + 1vmin);
}

footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  font-size: calc(15px + 0.5vmin);
}

.configDescription {
  float: left;
  clear: none;
  margin: 10px;
}

.iconCredit {
  float: right;
  clear: none;
  margin: 10px;
  color: var(--medium-gray);
}

.App {
  min-height: 100vh;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 1vmin);
}

.ConfigDropZone {
  display: flex;
  height: 70vh;
  width: 80vw;
  margin: 20px;
  padding: 5vmin;
  border: calc(5px + 1vmin) var(--light-gray) dashed;
  justify-content: center;
  align-items: center;
  font-size: calc(15px + 1.5vmin);
}

.dropZoneDragged {
  background: var(--dark-blue);
}

.dropZoneError {
  background: var(--medium-red);
}

.fileInput {
  display: none;
}

.generatorLine {
  align-items: center;
  white-space: break-spaces;
  font-size: calc(10px + 3vmin);
  min-width: 100%;
}

.selectedGenerator {
  cursor: default;
  border-bottom: medium var(--light-gray) dotted;
}

header button {
  background-color: var(--dark-gray);
  color: var(--light-gray);
}

.generatorButton {
  border-radius: 0;
}

.reroll {
  display: flex;
  margin-top: calc(2vmin);
  background: transparent;
  border: none;
  padding: 1px;
  align-items: center;
  justify-content: center;
}

.closeButton {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 0;
}

randomItem {
  background-color: var(--light-gray);
  color: var(--dark-gray);
  cursor: pointer;
  margin: 2px;
}